* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    display: inline-block;
    padding: 15px 16px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgb(0, 30, 255);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* Header */

.header {
    height: 70px;
    border-bottom: 1px solid gray;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-top: 0px;
}

.logo {
    margin-right: auto;
}

.nav-list {
    margin-left: 40px;
    gap: 30px;
}

.nav-item {
    height: 37px;
    padding: 10px 5px;
}

.nav-lnk {
    color: blue;
}

.nav-lnk:hover {
    color: red;
}
.burger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.header-btn {
    margin-left: 80px;
}

.header-btn:hover {
    background-color: rgb(34, 2, 152);
    color: white;
}

/* Hero */

.section-hero {
    display: flex;
    flex-direction: column;
}

.hero-item {
    display: flex;
    flex: 1 1 50%;
}

.book-img {
    width: 50%;
    /* height: 900px; */
    margin-bottom: 20px;
}

.book-description {
    margin-left: 30px;
    width: 50%;
}

.section-books-item-description {
    font-size: 25px;
    padding: 0px 15px;
    margin: 0px 15px 20px;
}

.additional-information {
    font-size: 30px;
    font-style: italic;
    padding: 0px 15px;
    margin: 0px 15px 20px;
}

.additional-information-item {
    margin: 10px 0;
}

.additional-information-description {
    font-size: 25px;
    color: blue;
}

/* Reviews */

/* Footer */

.footer {
    margin-top: 20px;
    height: 50px;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
    position: relative;
}

.logo {
    margin-right: auto;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-item-footer:not(:last-child) {
    margin: 0 40px;
}

.footer-burger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.footer-btn {
    margin-left: 80px;
}

.footer-btn:hover {
    background-color: rgb(34, 2, 152);
    color: white;
}

/* Media */